In [21]:
import pandas as pd
import numpy as np
import joblib
import os
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor

In [7]:
df = pd.read_csv("ENB2012_data.csv")

In [8]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [9]:
train, test = train_test_split(df, test_size=0.2)
X_train = np.array(train.iloc[:,:-2])
y_train = np.array(train.iloc[:,-2:])
X_test = np.array(test.iloc[:,:-2])
y_test = np.array(test.iloc[:,-2:])

In [10]:
max_depth = 30
regr_multirf = MultiOutputRegressor(RandomForestRegressor(n_estimators=100,
                                                          max_depth=max_depth,
                                                          random_state=0))
regr_multirf.fit(X_train, y_train)

y_multirf = regr_multirf.predict(X_test)

In [11]:
# save the model to disk
model_name = 'multi_output_model.sav'
joblib.dump(regr_multirf, model_name)

['multi_output_model.sav']

In [12]:
X_test

array([[7.100e-01, 7.105e+02, 2.695e+02, ..., 4.000e+00, 2.500e-01,
        2.000e+00],
       [6.900e-01, 7.350e+02, 2.940e+02, ..., 3.000e+00, 1.000e-01,
        5.000e+00],
       [7.600e-01, 6.615e+02, 4.165e+02, ..., 3.000e+00, 2.500e-01,
        1.000e+00],
       ...,
       [9.800e-01, 5.145e+02, 2.940e+02, ..., 5.000e+00, 4.000e-01,
        1.000e+00],
       [6.900e-01, 7.350e+02, 2.940e+02, ..., 4.000e+00, 4.000e-01,
        3.000e+00],
       [6.400e-01, 7.840e+02, 3.430e+02, ..., 3.000e+00, 1.000e-01,
        2.000e+00]])

In [13]:
loaded_model = joblib.load("multi_output_model.sav")

In [14]:
prediction = loaded_model.predict(X_test)